
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/navbar.css' %}">
{% endblock %}

<div class="navbar" style="background-color:#3f4156;z-index: 20;">

    <div class="logo" style="background-color:#3f4156;">
        <a href="/"> <h1 style = "color: white;" style = "background-color:#3f4156; text-decoration: none;">SportsPal</h1></a>
    </div>


    <div class="search_bar">
        <form method = "GET" action="{% url 'home' %}">
            <input type = "text" name = "q" placeholder = "Search Rooms" />
        </form>
    </div>

    {% if request.user.is_authenticated %}
    
    <div class="profile">
        <p style="color: white;background-color:#3f4156;"> Hello {{request.user}}</p>
        <p style="background-color:#3f4156;"><a href = "{'% url 'base/profile.html' message.user.id %} " style="background-color:#3f4156;text-decoration: none;color:aqua;">@{{user.username}}</a></p>
    </div>

    <div class="logout">
        <a href = "{% url 'logout' %}" style="background-color:#3f4156;">Logout</a>
    </div>

    {% else %}

    <div class="login">
        <a href = "{% url 'login' %}" style = "background-color:#3f4156;text-decoration: none;"><i class="fa-solid fa-right-to-bracket fa-shake fa-lg" style="position: relative; right: 10px;;"></i>Login</a>
    </div>

    {% endif %}


</div>