
/* Styles for individual room_feat elements */
.room_feat {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 20px solid black;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px;
    border-radius: 12px;
    height: 190px;
    
}

/* Styles for the host link */
#host a {
    background-color: #3f4156;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    margin-bottom: 5px;
    z-index: 20;
}

/* Styles for the edit and delete links */
#edit a,
#delete a {
    background-color: #3f4156;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
}

/* Styles for room name link */
#room_name a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

#room_name a:hover {
    color: #71c6dd;
}

/* Styles for topic name */
#topic_name small {
    background-color: #3f4156;
    color: #fff;
    padding: 3px 5px;
    border-radius: 3px;
}

/* Styles for the horizontal rule */
hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 15px 0;
}

/* Responsive styles */
@media (max-width: 768px) {
    .room_feat {
        flex-direction: column;
    }
}





.sports-rooms{
    border-radius: 50px;

}
.room_feat{
    position: relative;
    top: 50px;
    background-color: #3f4156;
}

#host,#edit,#delete,#room_name,#topic_name{
    background-color: #3f4156;
}

#host a{
    font-family: "DM Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    color:#71c6dd;
    font-size: inherit;
    font-weight: 500;
}

#host{
    position: absolute;
    top : 30px;
    left:40px;
    z-index: 9;
    width : 150px;
}

#timer{
    margin: 10px;
    position: absolute;
    top : 20px;
    left: 340px;
    width: 190px;
    color: #b2bdbd;

}

#room_name{
    position: absolute;
    top : 40px;
    left : 30px;
    width : 190px;
    height: 80px;
    bottom: 28px;
    font-family: "DM Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 23px;
    font-weight: 500;
    color: #e5e5e5;
}

.edit-delete{
    display: flex;
    flex-direction: row;
    justify-content: space-around ;
    width: 250px;
    position: absolute;
    top : 160px;
    left: 145px;
    z-index: 9;
    background-color: #3f4156;

}


#topic_name{
    display: inline-block;
    position: absolute;
    bottom: 30px;
    left: 430px;
    width: 90px;
    font-size: medium;
    text-align: center;
    margin-top: 0px;
    background-color: #51546e;
    border-radius: 20px;
    font-size: 13px;
    border: 1px solid #51546e;
    color: #b2bdbd;
    height:40px;
    font-weight: 500;


}

#participants_num{
    position: absolute;
    top : 160px;
    left: 50px;
    width : 120px;
    color: #b2bdbd;


}


div .sports-rooms{
    position: relative;
    bottom: 20px;
}





