{% extends 'main.html' %}

{% load static %}

{% block content %}

<style>
    .room-container {
        display: grid;
        grid-template-columns: 2.8fr 1.7fr;
    }
</style>


{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/room.css' %}">
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css"> 
{% endblock %}


<div class="room-container">

    <div class="room-containers">

        <div class="room-details" style="background-color: #3f4156;">

            <h1>{{room.name}}</h1>

            <div class="container">
                <div id="time_created">
                    <p><i class="fa-regular fa-calendar-days fa-lg" style = "position: relative;right: 10px"></i>{{room.created|timesince}} </p>
                </div>

                <div id="host">
                    <H3 style="background-color:#3f4156; position: relative; right : 10px">Hosted By : {{room.host.username}}</H3>
                </div>
                
                <div id="description">
                    <p>Description:</p>
                    <p style="font-size: 19px;position: relative;bottom: 15px;">{{room.description}}</p>
                </div>

            </div>
    
        </div>
    
        <div class="conversation-wrapper">
            <h3 style = "position: relative;color:#71c6dd;font-size: 30px;font-weight: 600;text-align: center;">Conversation</h3>
    
            <div class="message-list">
                {% for message in room_messages %}
                <div class="message">
                    {% if request.user == message.user %}
                    <a class="delete-link" href="{% url 'delete-message' message.id %}" style = "color:#EE4B2B;text-decoration: none;font-weight: 500;position: relative;left:350px"><i class="fa-solid fa-trash-can fa-lg" style="position: relative;left: 80px;;"></i>Delete</a>
                    {% endif %}
                    <small class="message-info" style = "color:lightgray"><tag style = "color:#71c6dd;font-size: medium;">@{{message.user}}</tag> Sent {{message.created|timesince}} ago</small>
                    <p class="message-body" style = "color:lightgray;">{{message.body}}</p>
                </div>
                {% endfor %}
            </div>
    
            {% if request.user.is_authenticated %}
            <div class="comment-form">
                <form method="POST" action="">
                    {% csrf_token %}
                    <input type="text" name="body" placeholder="Write your message here..." />
                </form>
            </div>
            {% endif %}
    
        </div>
    
    </div>
    

    <div class = "participants">
        <h3 style="background-color: #696d97;color:#e5e5e5">Participants</h3>

        {% for user in participants %}
        <div id = "username">
            <p style="background-color: #3f4156;"><i class="fa-solid fa-user fa-2xl" style = " position:relative ; right:30px ; color:lightgray; "></i>@{{user.username}}</p>
        </div>
        {% endfor %}
    </div>

</div>

{% endblock %}